.feedback {
  background-color : black;
  opacity: .8;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 1px;
}