   .prof img{
    border-radius: 50%;
   }

  .display-n{
    display: none;
  }

  #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
    transition: .35s;
  }
 #btnSearch{
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
 }
  #text{
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  #searchtext{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 30px;
    color: white;
    width: 75%;
  }

  #overlay .closebtn {
    position: absolute;
    top: 30px;
    right: 45px;
    font-size: 60px;
    color: white;
}