.topnav{
  background-color: #484848;
  top: 70px;
  height: 55px;
}
.topnav-link a:hover{
/*  border-bottom : 2px solid white;*/
  transition: .35s
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  transition: .35s;
}
